@import "src/styles/dependencies";
@import "src/styles/variables";
@import "src/styles/font-scaling";

nav.social-links {
  //@extend .pure-menu-list;
  display: flex;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 100%;
  flex-flow: row wrap;
  white-space: normal;
  a.social-link {
    @extend .pure-menu-item, .pure-menu-link;
    font-size: 1.3em;
    padding: 0.6rem;
    &:hover, &:focus, &.active { background:initial; color: $grey-d1; }
    svg {
      max-height: 1em;
      // TODO: no-script giant fontawesome icons
      //max-height: 3em;
    }
  }
}
