@import "src/styles/variables";

.post-listing {
  .post {
    a.title {
      color: black;
      text-decoration: initial;
      font-size: 1.3rem;
      &:hover {
        color: $grey-dark;
      }
    }
    .excerpt {
      //text-indent: 1rem hanging;
      $indent: 1rem;
      text-indent: -$indent;
      padding-left: $indent;
    };
    h1 {
      margin: 0.3rem 0;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    section {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    margin: 1rem 0;
    hr {
      margin: 1rem 0;
    }
    .tags {
      margin: 0.3rem 0;
      a {
        text-decoration: initial;
        //margin-right: 0.3rem;
        color: $grey-light;
        font-size: 1rem;
        &:hover {
          color: $grey-middle;
        }
      }
      span {
        &:after { content: ', '; }
        &:last-child:after { content: ''; }
      }
    }
  }
  .post:last-child { hr { display: none; } }
}
