@media screen and (min-width: $viewport-small) { html { font-size: 16px; } }
@media screen and (min-width: $viewport-medium) { html { font-size: 18px; } }
@media screen and (min-width: $viewport-large) { html { font-size: 20px; } }
// @media screen and (min-width: $viewport-extra-large) { html { font-size: 22px; } }
