// Viewport widths
$viewport-small: 32em;
$viewport-medium: 48em;
$viewport-large: 64em;
$viewport-extra-large: 78em;

// Fonts
$font-family-serif:  "Merriweather", "PT Serif", Georgia, "Times New Roman", serif !default;
$font-family-sans-serif: "LatoWebThin", "Lato Thin", "Helvetica Neue", Helvetica, sans-serif !default;
$font-family-monospace: "Source Code Pro", Consolas, monospace !default;

// Greys RC2
$grey: gainsboro;
@function grey($level) {
  $grey-delta: 100%;
  @return darken($grey, $grey-delta * $level);
}

// Greys
$grey-delta: 15%;
$grey-gainsboro: gainsboro;
$grey-more-lightest: grey(0.1);
$grey-lightest: grey(0.15);
$grey-light: grey(0.3);
$grey-middle: grey(0.4);
$grey-dark: grey(0.55);
$grey-darkest: grey(0.7);

$grey-l1: $grey;
$grey-l2: grey(0.1);
$grey-l3: grey(0.15);

$grey-m1: grey(0.3);
$grey-m2: grey(0.35);
$grey-m3: grey(0.4);

$grey-d1: grey(0.55);
$grey-d2: grey(0.6);
$grey-d3: grey(0.7);


.sw {
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
  //justify-content: space-evenly;
  
  * {
    $big: 2.4rem;
    //width: $big;
    //height: $big;
    width: 100%;
    //border-radius: 100%;
    display: inline-block;
    background-color: black;
    line-height: 1.1rem;
    text-align: center;
    color: black;
    //flex-grow: 1;
    &:after { content: '\00000aabc\00000aABC\00000a|1lI'; white-space: pre; text-align: center; }
  }
  .g0 { background-color: $grey-l1; }
  .g1 { background-color: $grey-l2; }
  .g2 { background-color: $grey-l3; }
  .g3 { background-color: $grey-m1; }
  .g4 { background-color: $grey-m2; }
  .g5 { background-color: $grey-m3; }
  .g6 { background-color: $grey-d1; }
  .g7 { background-color: $grey-d2; }
  .g8 { background-color: $grey-d3; }
  .g9 { background-color: black; }
  .t0 { color: $grey-l1; }
  .t1 { color: $grey-l2; }
  .t2 { color: $grey-l3; }
  .t3 { color: $grey-m1; }
  .t4 { color: $grey-m2; }
  .t5 { color: $grey-m3; }
  .t6 { color: $grey-d1; }
  .t7 { color: $grey-d2; }
  .t8 { color: $grey-d3; }
  .t9 { color: black; }
  /*&.g4 { background-color: $grey-g3; }
  &.g5 { background-color: $grey-g4; }
  &.g6 { background-color: $grey-d5; }
  &.g7 { background-color: $grey-g6; }*/
}

// Typography
$base-font-size: 14px !default;
$bold-font-weight: bold !default;
$font-family: $font-family-serif;
$line-height: 1.5 !default;
$heading-font-family: $font-family-sans-serif;
$heading-font-weight: 900 !default;
$heading-line-height: 1.25 !default;
$monospace-font-family: $font-family-monospace;
$h1: 2.998rem !default;
$h2: 1.5rem !default;
$h3: 1.25rem !default;
$h4: 1rem !default;
$h5: .875rem !default;
$h6: .75rem !default;
$h00: 4rem !default;
$h0: 3rem !default;
$h00-responsive: 8vw !default;
$h0-responsive: 6vw !default;
$h1-responsive: 4vw !default;
$h00-responsive-max: 7.68rem !default;
$h0-responsive-max: 5.76rem !default;
$h1-responsive-max: 3.84rem !default;
$abbr-border-bottom: 1px black dotted;

// Page width
$measure-width: 42rem !default;

// Colors
$blue: #0076df !default;
$red: #f95020 !default;
$green: #00cf26 !default;
$yellow: #efcc00 !default;
$orange: #ffcc22 !default;
$purple: #f92080 !default;
$dark-blue: #00369f !default;
$green: #00ab37 !default;
$dark-green: #009f06 !default;
$light-pink: #ffdddd !default;
$light-green: #ddffdd !default;
$dark-gray: #444 !default;
$mid-gray: #777 !default;
$light-gray: #ccc !default;
$lighter-gray: #eee !default;
$darken-1: rgba(#000,.0625) !default;
$darken-2: rgba(#000,.125) !default;
$darken-3: rgba(#000,.25) !default;
$darken-4: rgba(#000,.5) !default;

// Links
$link-color: $blue;
$link-hover-color: darken($blue, 40%);

// Breakpoints
$breakpoint-md: '(min-width: 52em)';
$breakpoint-xl: '(min-width: 96em)';

// Whitespace
$space-1: .5rem !default;
$space-2: 1rem !default;
$space-3: 2rem !default;
$space-4: 4rem !default;

// Buttons
$button-font-size: inherit !default;
$button-font-weight: normal !default;
$button-line-height: 1.125rem !default;
$button-padding-y: .5rem !default;
$button-padding-x: 1rem !default;
$button-font-family: $heading-font-family;

// Forms
$form-field-font-size: 1rem !default;
$form-field-height: 2.25rem !default;
$form-field-padding-y: .5rem !default;
$form-field-padding-x: .5rem !default;

// Borders
$border-color: $light-gray !default;
$border-width: 1px !default;
$border-radius: 3px !default;

// Forms
$form-field-font-size: 1rem;
$form-field-height: 2.25rem;
$form-field-padding-y: .5rem;
$form-field-padding-x: .5rem;

// Code
$pre-border-radius: 0;
$pre-background-color: #fafafa;
$hljs-comment: $mid-gray;
$hljs-keyword: $dark-blue;
$hljs-name: $dark-gray;
$hljs-number: $dark-green;
$hljs-string: $red;
$hljs-title: $red;
$hljs-type: $dark-blue;
$hljs-tag: $dark-blue;
$hljs-attribute: $dark-green;
$hljs-regexp: $dark-green;
$hljs-symbol: $purple;
$hljs-built-in: $dark-blue;
$hljs-preprocessor: $mid-gray;
$hljs-deletion: $light-pink;
$hljs-addition: $light-green;
$hljs-change: $dark-blue;
$hljs-chunk: $light-gray;

// Footer
$footer-border-top: thin solid #f3f3f3;
$footer-padding: $space-3;
$footer-color: #7a7a7a;
$footer-bg-color: #fafafa;
$footer-font-weight: 300;
$footer-font-size: .75rem;
