@import "src/styles/variables";

.calling-card {
  display: flex;
  flex-direction: column;
  //align-items: baseline;
  margin: 1rem 0;
  .cc-label {
    display: flex;
    align-items: baseline;
    border-bottom: 1px solid $grey-l2;
    picture {
      box-shadow: 0.2rem 0.2rem 0.4rem -0.1rem $grey-m2;
      //box-shadow: 0.2rem 0.2rem 0.0rem 0.1rem $grey-l3;
      display: flex;
      align-content: center;
      justify-content: center;
      border-radius: 100%;
      overflow: hidden;
      width: 6rem;
      height: 6rem;
      display: block;
    }
    h1 {
      margin: 0;
      margin-top: 0.7rem;
    }
  }
  .cc-description {
    margin-top: 0.5rem;
    align-self: right;
    text-align: right;
  }
}

@media (max-width: $viewport-small) {
  .calling-card {
    display: flex;
    align-items: center;
    .cc-label {
      flex-direction: column;
      align-items: center;
      picture {
        width: 7rem;
        height: 7rem;
      }
    }
    .cc-description {
      align-self: initial;
    }
  }
}
