@import "src/styles/dependencies";
@import "src/styles/variables";
@import "src/styles/font-scaling";

nav.site-navigation {
  @extend .pure-menu-list;
  flex-flow: row wrap;
  white-space: normal;
  display: flex;
  a {
    @extend .pure-menu-item, .pure-menu-link;
    padding: 0 0.5rem;
    text-decoration: initial;
    &:hover, &:focus, &.active {
      background: initial;
      color: $grey-d1; 
      span {
        border-bottom: 1px solid $grey-middle;
      }
    }
  }
}
