@import "src/styles/dependencies";
@import "src/styles/variables";
@import "src/styles/font-scaling";


body {
  font-family: $font-family-serif;
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  font-weight: 100;
}
pre, code, samp {
  font-family: $font-family-monospace;
}

pre[class*="language-"] { border-radius: initial; }

h1 {
  font-weight: 100;
}
h4, h5, h6 {
  font-weight: 100;
}

body { background-color: gainsboro; }

span.draft-flag {
  @extend time;
  &::before { content: "draft"; }
  margin: 8px;
  float: right;
}

.more-posts-button {
  text-align: center;
  @extend .pure-menu-item, .pure-menu-link;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: initial;
  color: $grey-m3;
  &:hover, &:focus, &.selected {
    background: initial;
    color: $grey-d1; 
    span {
      border-bottom: 1px solid $grey-middle;
    }
  }
}

.paginator {
  display: flex;
  justify-content: center;
  ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
  }
  li {
    user-select: none;
    display: inline-block;
    &.disabled {
      color: $grey-m3;
    }
    a {
      padding: 0.5rem;
      text-decoration: initial;
      color: $grey-m3;
    }
    &:not(.disabled, .selected) {
      a {
        @extend .pure-menu-item, .pure-menu-link;
        cursor: pointer;
        padding: 0.5rem;
        text-decoration: initial;
        color: $grey-m3;
        &:hover, &:focus, &.selected {
          background: initial;
          color: $grey-d1; 
          span {
            border-bottom: 1px solid $grey-middle;
          }
        }
      }
    }
    &.selected {
      color: $grey-m1;
      text-decoration: underline;
    }
  }
  .break a {
    cursor: default;
  }
}

.site-header {
  padding: 0 1rem;
  margin: 1rem 0;
  @extend .pure-menu, .pure-menu-horizontal;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: row wrap;
}
.site-title {
  @extend .pure-menu-list, .pure-menu-item, .pure-menu-link;
  &:hover, &:focus, &.active { background: initial; color: black; }
  color: $grey-dark;
  h1 { margin: 0; }
}

.measure {
  margin: 0 auto;
  max-width: 42rem;
}

hr { border: initial; border-top: 1px solid $grey-l2; }

footer {
  color: $grey-m3;
  margin: 1rem 0;
  padding: 0 1rem;
}

header.article-header {
  h1 {
    margin-bottom: 0.4rem;
  }
  time {
    margin: 0.4rem 0;
  }
}

article.post, article.page {
  padding: 0 1rem;
  margin: 1rem 0;
  img {
    @extend .pure-img;
  }
  video {
    @extend .pure-img;
  }
  canvas {
    @extend .pure-img;
  }
  iframe {
    @extend .pure-img;
    //border: none;
    //border-top: 1px solid $grey-m1;
    //border-bottom: 1px solid $grey-m1;
    border: 2px dashed $grey-m1;
    padding: 7px;
    width: stretch;
  }
  //aside {
  //  position: relative;
  //  left: $measure-width;
  //  height: 0;
  //}
  aside {
    padding: 0.4rem;
    background: $grey-l2;
    border: 2px dotted $grey-m2;
    font-size: 0.9rem;
    &.left, &.right {
      width: 25%;
    }
    &.left {
      margin-right: 0.4rem;
      float: left;
    }
    &.right {
      margin-left: 0.4rem;
      float: right;
    }
  }
}

@media (max-width: $viewport-small) {
  article.post, article.page {
    aside {
      float: unset;
      width: unset;
      margin: unset;
    }
  }
}

time {
  font-style: italic;
  //font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  width: auto;
  color: $grey-middle;
}

blockquote {
  margin: 2rem;
  padding: 2rem;
  border-left: 0.3rem solid gray;
  p {
    margin-top: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
  cite {
    font-style: italic;
    color: $grey-middle;
    &::before { content: "-- "; }
  }
}

@media (max-width: $viewport-small) {
  .site-header {
    justify-content: space-evenly;
  }
  nav.social-links {
    width: initial;
    justify-content: center;
  }
  
}

/*
body {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
}
code {
  background-color: initial;
}
pre[class*="language-"] {
  border-radius: initial;
}



.social-links {
  //@extend .pure-menu-list;
  display: flex;
  flex-shrink: 0;
  width:100%;
  justify-content: flex-end;
}
.social-links .social-link {
  //@extend .pure-menu-item;
  font-size: 2rem;
  padding: 8px;
  text-decoration: none;
}


.site-header {
//  @extend .pure-menu;
  display: flex;
  margin-top: 16px;
  align-items: baseline;
  justify-content: space-between;
  flex-flow: row wrap;
  & > * * {
    margin-bottom: 20px;
  }
}
.site-header a {
  color: #333;
  font-size: 1.25rem;
  font-weight: 300;
  white-space: nowrap;
}
.site-header .site-nav {
  font-size: 1.5rem;
  flex-basis: content;
  margin-left: px;
}
.site-header nav a {
  color: $mid-gray;
  font-size: 1.5rem;
  text-decoration: none;
}
.site-header nav a:hover {
  color: $mid-gray;
  border-bottom: 1px solid $mid-gray;
}
.site-nav a + a {
  margin-left: 1em;
}
.site-header .site-title {
  font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif;
  color: $dark-gray;
  flex-basis: content;
  white-space: nowrap;
  h1 {
    font-size: 3rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
}

pre, code, samp {
  font-family: "Source Code Pro", Consolas, monospace;
}*/
